<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Erro - Clam Atiradores</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body class="bg-light">
	<div class="container text-center" style="margin-top: 15vh;">
		<h1 class="display-5">Ops!</h1>
		<p class="lead">Ocorreu um erro inesperado. Tente novamente em instantes.</p>
		<a class="btn btn-primary" th:href="@{/socios}">Voltar para Socios</a>
	</div>
</body>
</html>
